* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

.content {
    position: relative;
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
}

.header {
    padding: 12px 15px;
    margin: 0px auto 35px;
    width: 45%;
    min-width: 320px;
    height: 120px;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

.score {
    width: 110px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 6px;
    align-items: center;
    .score-text {
        color : hsl(229, 64%, 46%);
        font-size: 13px;
        letter-spacing: 2px;
    }
    .score-amount {
        color: hsl(229, 25%, 31%);
        font-size: 50px;
        font-weight: 700;
    }
}

.psr {
    margin: 0px auto;
    width: 350px;
    height: 318px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-image: url(../images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    .hand {
        transition: 200ms;
        &:hover {
            transform: rotate(-15deg);
            cursor: pointer;
        }
    }
    // display: none;

}

.paper,.rock, .scissors {
    width: 140px;
    height: 145px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
        height: 100%;
    }
}


.paper {
    margin-right: 20px;
}
.scissors {
    margin-left: 20px;
}
// .rock {
//     border-bottom: 7px solid hsl(349, 68%, 43%);
//     background-color: hsl(349, 70%, 56%);
// }


.second-page {
    margin: 60px auto 0px;
    width: 640px;
    height: 300px;
    display: none;
    .mychoice, .compchoice {
        width: 33%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
            color: white;
            margin-bottom: 35px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .againdiv {
        width: 34%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            color: white;
            font-weight: 700;
            font-size: 38px;
            margin-bottom: 5px;
        }
        .again {
            width: 154px;
            height: 36px;
            cursor: pointer;
            color: hsl(0, 74%, 49%);
            background-color: white;
            border: none;
            border-radius: 5px;
        }
    }
    .scissors {
        margin-left: unset;
    }
}

.mychoice {
    .am {
        width: 190px;
        height: 190px;
        div {
            width: 100%;
            height: 100%;
        }
    }
}

.compchoice {
    .comp {
        width: 190px;
        height: 190px;
        div {
            width: 100%;
            height: 100%;
        }
    }
}

.rules {
    padding: 10px;
    height: 320px;
    width: 300px;
    position: absolute;
    top: 130px;
    left: 50%;
    border-radius: 8px;
    transform: translateX(-50%);
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    .rule-box {
        width: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-weight: 700;
            color: hsl(229, 25%, 31%);
        }
        .x {
            border: none;
            background-color: white;
            color: rgb(151, 150, 150);
            cursor: pointer;
            font-size: 18px;
        }
    }
    img {
        height: 220px;
    }
}

.rules-call {
    background-color: hsl(229, 25%, 31%);
    border: 2px solid hsl(217, 16%, 45%);
    color: white;
    padding: 5px 25px;
    border-radius: 6px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    cursor: pointer;
}


@media (max-width: 600px){
    .header {
        margin: 0px auto 90px;
    }
    .second-page {
        width: 98%;
        height: unset;
        flex-wrap: wrap;
        margin: 0px auto;
        justify-content: space-between;
        h3 {
            font-size: 15px;
        }
        .mychoice {
            width: 45%;
            height: 50%;
            flex-direction: column-reverse;
            .am {
                width: 140px;
                height: 143px;
                margin-bottom: 30px;
            }
        }
        .againdiv {
            order: 1;
            margin: 20px auto;
            .scoreh1 {
                font-size: 44px;
                width: 250px;
                margin-bottom: 20px;
                text-align: center;
            }
            .again {
                width: 230px;
                height: 50px;
                border-radius: 10px;
                font-size: 18px;
            }
        }
        .compchoice {
            width: 45%;
            height: 50%;
            flex-direction: column-reverse;
            .comp {
                width: 140px;
                height: 143px;
                margin-bottom: 30px;
            }
        }
    }
    .rules-call {
        transform: translateX(-50%);
        left: 50%;
        bottom: 40px;
        padding: 12px;
        font-size: 19px;
    }
}




