//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
}

//*-----------

.content {
    height: 100vh;
    min-height: 900px;
    display: grid;
    grid-template-rows: 230px 1fr;
}

.main {
    background-image: url(../imgs/pattern-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 22px;
    min-height: 300px;
    .addressH1 {
        color: white;
        margin-bottom: 25px;
    }
    .searchForm {
        width: 390px;
        max-width: 80%;
        display: flex;
        .input {
            width: 90%;
            height: 45px;
            padding-left: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .submit {
            width: 10%;
            height: 45px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-image: url(../imgs/icon-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8px;
            background-color: hsl(0, 0%, 17%);
            cursor: pointer;
        }
    }
}

.main .information {
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    position: absolute;
    top: 232px;
    transform: translateY(-50%);
    padding: 30px 20px;
    & > div {
        border-right: 1px solid hsl(0, 0%, 59%);
        padding: 0px 20px;
        & > h3 {
            font-size: 11px;
            font-weight: 500;
            letter-spacing: 1px;
            color: hsl(0, 0%, 59%);
            margin-bottom: 10px;
        }
        & > p {
            color: hsl(0, 0%, 17%);
            font-size: 26px;
            font-weight: 500;
        }
    }
    & > :last-child {
        border: none;
    }
}

#map {
    grid-row: 2/3;
}

.ispDiv {
    overflow-y: scroll ;
    max-height: 72px;
}

//*----mobile----//

@media (max-width: "600px"){
    .content {
        grid-template-rows: 0.6fr 1fr;
        .main {
            .information {
                display: block;
                top: 332px;
            }
        }
    }
}

